body {
  font-family: sans-serif;

  margin-top: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
}
.s1 {
  font-size: small;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 0px;
}

.search {
  padding: 10px;
  padding-left: 150px;
}


.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background-color: white;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.nav-btn button:hover {
  background-color: white;

}
.btn-a  {
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px 0px 0px 5px;
}
.btn-b  {
  border: 1px solid;
  width: 100px;
  height: 30px;
 
}
.btn-c  {
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 0px 5px 5px 0px;
}

hr {
  margin-top: 0px;
}



.label-a {
  margin-right: 20px;
  border: 0px solid;
  display: flex;
  justify-content: space-between;

}


.btn {
  width: 270px;
  height: 30px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.form-a {
  max-width: 300px;
  border: 1px solid;
  padding: 20px;
  border-radius: 8px;
  background-color: #eaeaea;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.form-group-a {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

label {
  flex: 1;
}

input[type="email"],
input[type="date"] {
  flex: 2;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 5px;
}
