body  {
  background-color: #008CBA;
}
.body- {
  font-family: sans-serif;
  width: 1200px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #fff;
}
.s1 {
  margin-left: 15px;
  font-size: larger;
}
h1  {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background-color: white;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.nav-btn>button:hover {
  background-color: rgb(0, 87, 180);

}
.btn-a  {
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
  background-color: rgb(0, 179, 244);
}
.btn-b  {
  border: 1px solid;
  width: 100px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
  background-color: rgb(0, 179, 244);
 
}
.btn-c  {
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
  background-color: rgb(0, 179, 244);
}
.submit {
  border: 1px solid;
  width: 200px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
  background-color: rgb(0, 179, 244);
  border-radius: 5px;
}
.submit-div {
  display: flex; justify-content: flex-end;
  
}
.submit-div>button:hover {
  background-color: rgb(0, 87, 180);

}


hr {
  margin-top: 0px;
}


.form {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.form-a {
  max-width: 310px;
  background-color: #f2f2f2;
  padding: 15px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.form-group-a {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

label {
  flex: 1;
}

input[type="email"],
input[type="date"] {
  flex: 2;
  width: 100%;
}

input [type="checkbox"] {
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 800px;
  margin-right: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
footer  {
  margin: 30px;
  display: flex;
  justify-content: end;
  font-size: small;
}